{
  "trailingComma": "none",
  "useTabs": false,
  "semi": false,
  "tabWidth": 2,
  "jsxSingleQuote": true,
  "singleQuote": true,
  "arrowParens": "avoid",
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "",
    "^@/app/(.*)$",
    "",
    "^@/pages/(.*)$",
    "",
    "^@/widgets/(.*)$",
    "",
    "^@/features/(.*)$",
    "",
    "^@/entities/(.*)$",
    "",
    "^@/shared/(.*)$",
    "",
    "^[./]"
  ],
  "importOrderCaseSensitive": false,
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ]
}
